.layout-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.w-30rem {
    width: 45rem !important;
    text-align: left;
}

.layout-topbar .topbar-start {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}

.layout-topbar .topbar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0 1.15rem 0 .85rem;
    padding-right: 0;
    list-style: none;
    flex-grow: 1;
    margin-right: -2rem;
}

.layout-topbar .topbar-menu li {
    margin-left: 1.5rem;
}

.layout-topbar .topbar-menu li .topbar-search {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.layout-topbar .topbar-menu li .topbar-search .topbar-searchbutton {
    display: flex;
}

.layout-topbar .topbar-menu li .topbar-search .search-input-wrapper {
    position: relative;
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: .4s cubic-bezier(.86, 0, .07, 1);
}

.layout-topbar .topbar-menu li .topbar-search .search-input-wrapper span {
    width: 100%;
}

.layout-topbar .topbar-menu li {
    margin-left: 1.5rem;
}

.layout-topbar .topbar-menu li.topbar-item {
    margin-left: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.layout-rightmenu-button {
    border-radius: 6px 0 0 6px;
    border-color: transparent;
    border-left: 0 none;
    box-shadow: 0 0 10px #0f8bfd40;
    right: 0;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .md\:block {
        display: block !important;
    }
}

@media screen and (min-width: 992px) {
    .layout-content-wrapper {
        margin-left: 22rem;
        transition: margin-left .3s cubic-bezier(0, 0, .2, 1);
    }
}

.layout-content-wrapper {
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}

.layout-content-wrapper {
    padding: 1rem 2rem 0 2rem;
}

.p-avatar-circle {
    color: red;
}