<app-header></app-header>
<div class="flex">
  <app-sidebar></app-sidebar>

  <div class="layout-content">
    <div class="logo">
      <img class="h-7rem ml-3" src="../../../../assets/Felipe.png" />
    </div>
    <div class="grid">
      <div class="col-12 md:col-12">
        <div class="col-12">
          <p-tabView [(activeIndex)]="activeIndex">
            <p-tabPanel *ngFor="let embarcacion of embarcaciones" [header]="embarcacion.nombre">
              <div class="grid">
                <div
                  class="headerEmbarcacion card relative h-6rem border-round-xl flex justify-content-between align-items-center">
                  <div class="col-3">
                    <div class="col-12 p-0 m-0">
                      <span
                        class="flex justify-content-between align-items-center text-orange-700 text-xl font-semibold line-height-1 mb-2">{{
                        embarcacion.nombre }}</span>
                    </div>
                    <div class="col-12 p-0">
                      <span class="text-gray-500 text-base font-semibold line-height-1">{{ embarcacion.gerencia
                        }}</span>
                    </div>
                  </div>
                  <div class="col-6 p-2 flex flex-wrap justify-content-end align-items-center gap-2">
                    <p-dropdown [options]="versionesPET" [(ngModel)]="selectedPEM" placeholder="Selecciona un mes"
                      [group]="true" (ngModelChange)="mesSeleccionado()">
                      <ng-template let-group pTemplate="group">
                        <div class="flex align-items-center">
                          <span>{{ group.label }}</span>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                  <div class="col-3 p-2 flex flex-wrap justify-content-end align-items-center gap-2">
                    <div class="flex mb-2 gap-2 justify-content-end">
                      <p-button *ngIf="centroDeProceso === 'Litoral-A'"
                        (click)="activeIndex = 0; dataDinamica = 'dataArtemis'" rounded="true"
                        styleClass="w-5rem h-2rem p-0 pr-2" [outlined]="activeIndex !== 0" label="Artemis"
                        id="{{ centroDeProceso }}" />
                      <p-button *ngIf="centroDeProceso === 'Litoral-A'" (click)="
                          activeIndex = 1; dataDinamica = 'dataCrestTarasco'
                        " rounded="true" styleClass="w-8rem h-2rem p-0" [outlined]="activeIndex !== 1"
                        label="Crest Tarasco" id="{{ centroDeProceso }}" />
                      <p-button *ngIf="centroDeProceso === 'DosBocas'"
                        (click)="activeIndex = 2; dataDinamica = 'DosBocas'" rounded="true"
                        styleClass="w-8rem h-2rem p-0" [outlined]="activeIndex !== 2" label="Dos Bocas"
                        id="{{ centroDeProceso }}" />
                      <p-button *ngIf="centroDeProceso === 'Abkatun-A'"
                        (click)="activeIndex = 3; dataDinamica = 'ToisaProteus'" rounded="true"
                        styleClass="w-8rem h-2rem p-0" [outlined]="activeIndex !== 3" label="Toisa Proteus"
                        id="{{ centroDeProceso }}" />
                      <p-button *ngIf="centroDeProceso === 'Pol-A'"
                        (click)="activeIndex = 4; dataDinamica = 'BlueStingray'" rounded="true"
                        styleClass="w-8rem h-2rem p-0" [outlined]="activeIndex !== 4" label="Blue Stingray"
                        id="{{ centroDeProceso }}" />
                      <p-button *ngIf="centroDeProceso === 'Abkatun-N1'"
                        (click)="activeIndex = 5; dataDinamica = 'BluePiooner'" rounded="true"
                        styleClass="w-8rem h-2rem p-0" [outlined]="activeIndex !== 5" label="Blue Pioneer"
                        id="{{ centroDeProceso }}" />
                    </div>
                  </div>
                </div>

                <!-- Programadas -->
                <div class="col-12 md:col-3 p-0 pr-2">
                  <div (click)="goToTotalProgramadas()"
                    class="card relative h-6rem border-round-xl p-3 hallazgosLeft cursor-pointer">
                    <span class="text-sm font-medium line-height-1">
                      ACTIVIDADES PROGRAMADAS
                    </span>
                    <div class="flex justify-content-between">
                      <div class="flex justify-content-between align-items-center">
                        <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                          style="
                            background-color: #41e2f7;
                            box-shadow: 0px 6px 20px rgba(201, 249, 255, 0.3);
                          ">
                          <i class="pi pi-arrow-up w-2rem"></i><span class="line-height-2">3</span>
                        </div>
                        <!-- Agrupacion de IF en los cuadros de actividades para cada embarcacion -->

                        <!-- Artemis -->
                        <div *ngIf="dataDinamica === 'dataArtemis'" class="line-height-4 text-4xl">
                          {{ dataArtemis.actividades[0].programadas }}
                          <span class="text-sm">Añadidas</span>
                        </div>

                        <!-- Artemis Fin -->

                        <!-- Crest Tarasco -->
                        <div *ngIf="dataDinamica === 'dataCrestTarasco'" class="line-height-4 text-4xl">
                          {{ dataCrestTarasco.actividades[0].programadas }}
                          <span class="text-sm">Añadidas</span>
                        </div>

                        <!-- Crest Tarasco Fin -->
                      </div>
                    </div>
                    <img src="../../../assets/rate.svg" class="absolute" style="bottom: 14px; right: 12px" />
                  </div>
                </div>
                <!-- Fin Programadas -->

                <!-- Fuera de Programa -->

                <div (click)="goToTotalFueraDePrograma()" class="col-12 md:col-3 p-0 pr-2">
                  <div class="card relative h-6rem border-round-xl p-3 hallazgosLinkMid cursor-pointer">
                    <span class="text-sm font-medium line-height-1">
                      FUERA DE PROGRAMA
                    </span>
                    <div class="flex justify-content-between">
                      <div class="flex justify-content-between align-items-center">
                        <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                          style="
                                            background-color: #41e2f7;
                                            box-shadow: 0px 6px 20px rgba(201, 249, 255, 0.3);
                                          ">
                          <i class="pi pi-arrow-up w-2rem"></i><span class="line-height-2">3</span>
                        </div>
                        <div *ngIf="dataDinamica === 'dataArtemis'" class="line-height-4 text-4xl">
                          {{ dataArtemis.actividades[0].fueraDePrograma }}
                          <span class="text-sm">Añadidas</span>
                        </div>

                        <div *ngIf="dataDinamica === 'dataCrestTarasco'" class="line-height-4 text-4xl">
                          {{ dataCrestTarasco.actividades[0].fueraDePrograma }}
                          <span class="text-sm">Añadidas</span>
                        </div>
                      </div>
                    </div>
                    <img src="../../../assets/quantity.svg" class="absolute" style="bottom: 14px; right: 12px" />
                  </div>
                </div>

                <!-- Fin Fuera de Programa -->

                <!-- Realizadas -->
                <div (click)="goToTotalRealizadas()" class="col-12 md:col-3 p-0 pr-2">
                  <div class="card relative h-6rem border-round-xl p-3 hallazgosLinkMid cursor-pointer">
                    <span class="text-sm font-medium line-height-1">
                      REALIZADAS
                    </span>
                    <div class="flex justify-content-between">
                      <div class="flex justify-content-between align-items-center">
                        <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                          style="
                            margin-right: 12px;
                            background-color: #0bd18a;
                            box-shadow: 0px 6px 20px rgba(11, 209, 138, 0.3);
                          ">
                          <i class="pi pi-arrow-up w-2rem"></i><span class="line-height-2">5</span>
                        </div>
                        <div *ngIf="dataDinamica === 'dataArtemis'" class="line-height-4 text-4xl">
                          {{ dataArtemis.actividades[0].realizado }}
                          <span class="text-sm">Añadidas</span>
                        </div>

                        <div *ngIf="dataDinamica === 'dataCrestTarasco'" class="line-height-4 text-4xl">
                          {{ dataCrestTarasco.actividades[0].realizado }}
                          <span class="text-sm">Añadidas</span>
                        </div>
                      </div>
                    </div>
                    <img src="../../../assets/value.svg" class="absolute" style="bottom: 14px; right: 12px" />
                  </div>
                </div>

                <!-- Fin Realizadas -->


                <!-- Rezagos -->

                <div (click)="goToTotalRezagos()" class="col-12 md:col-3 p-0 gap-2">
                  <div class="card relative h-6rem border-round-xl p-3 hallazgosLinkEnd cursor-pointer">
                    <span class="text-sm font-medium line-height-1">
                      PENDIENTES
                    </span>
                    <div class="flex justify-content-between">
                      <div class="flex justify-content-between align-items-center">
                        <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                          style="
                            background-color: #cecfcf;
                            box-shadow: 0px 6px 20px rgba(182, 182, 182, 0.3);
                          ">
                          <i class="pi pi-plus w-2rem"></i><span class="line-height-2">4</span>
                        </div>
                        <div *ngIf="dataDinamica === 'dataArtemis'" class="line-height-4 text-4xl">
                          {{ dataArtemis.actividades[0].rezago }}
                          <span class="text-sm">Añadidas</span>
                        </div>

                        <div *ngIf="dataDinamica === 'dataCrestTarasco'" class="line-height-4 text-4xl">
                          {{ dataCrestTarasco.actividades[0].pendientes }}
                          <span class="text-sm">Añadidas</span>
                        </div>
                      </div>
                    </div>
                    <img src="../../../assets/quantity.svg" class="absolute" style="bottom: 14px; right: 12px" />
                  </div>
                </div>
                <!-- Fin Rezagos -->

                <div class="col-12 md:col-9 m-0">
                  <div class="card relative" *ngIf="embarcacion.contenido == 'dataArtemis'">
                    <p-chart type="line" [data]="dataArtemis" [options]="options" (onDataSelect)="selectData($event)" />

                    <!-- <p-timeline [value]="eventsArtemis" layout="horizontal" align="top">
                      <ng-template pTemplate="content" let-event>
                        <div [ngClass]="{
                            operando: event === 'OP',
                            frenteFrio: event === 'FF',
                            fueraOperacion: event === 'FO'
                          }">
                          <p class="diasOperando">{{ event }}</p>
                        </div>
                      </ng-template>
                    </p-timeline> -->
                  </div>
                  <div class="card relative" *ngIf="embarcacion.contenido == 'dataCrestTarasco'">
                    <p-chart type="line" [data]="dataCrestTarasco" [options]="options"
                      (onDataSelect)="selectData($event)" />

                    <!-- <div
                      class="timeLineEmbarcaciones"
                      style="
                        width: 95%;
                      "
                    ></div> -->
                  </div>
                  <div class="card" *ngIf="embarcacion.contenido == 'dataDosBocas'">
                    <p-chart type="line" [data]="dataDosBocas" [options]="options"
                      (onDataSelect)="selectData($event)" />
                  </div>
                  <div class="card" *ngIf="embarcacion.contenido == 'dataToisaProteus'">
                    <p-chart type="line" [data]="dataToisaProteus" [options]="options"
                      (onDataSelect)="selectData($event)" />
                  </div>
                  <div class="card" *ngIf="embarcacion.contenido == 'dataBlueStingray'">
                    <p-chart type="line" [data]="dataBlueStingray" [options]="options"
                      (onDataSelect)="selectData($event)" />
                  </div>
                  <div class="card" *ngIf="embarcacion.contenido == 'dataBluePiooner'">
                    <p-chart type="line" [data]="dataBluePiooner" [options]="options"
                      (onDataSelect)="selectData($event)" />
                  </div>
                </div>

                <div class="col-3 m-0">

                  <div
                    class="card relative card relative h-6rem border-round-xl p-3 hallazgosLinkMid cursor-pointer mb-4">
                    <span
                      class="flex justify-content-center text-justify text-orange-700 text-base font-semibold line-height-1 mb-2">
                      Eficiencia del Barco</span>
                    <div class="flex justify-content-between">
                      <div class="flex justify-content-between align-items-center">
                        <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                          style="
                            background-color: #3de220;
                            box-shadow: 0px 6px 20px rgba(127, 200, 63, 0.3);
                            color:white;
                          ">
                          <i class="pi pi-arrow-up w-2rem"></i><span class="line-height-2">15%</span>
                        </div>
                        <div *ngIf="dataDinamica === 'dataArtemis'" class="line-height-4 text-4xl">
                          {{ dataArtemis.actividades[0].fueraDePrograma }}
                          <span class="text-sm">Añadidas</span>
                        </div>

                        <div *ngIf="dataDinamica === 'dataCrestTarasco'" class="line-height-4 text-4xl">
                          70%
                          <span class="text-sm">Al dia</span>
                        </div>
                      </div>
                    </div>
                    <img src="../../../assets/value.svg" class="absolute" style="bottom: 14px; right: 12px" />
                  </div>

                  <div class="card relative" *ngIf="embarcacion.contenido == 'dataArtemis'">
                    <span
                      class="flex justify-content-center text-justify text-orange-700 text-base font-semibold line-height-1 mb-2">
                      Avance de Actividades
                      {{ embarcacion.nombre }}</span>

                    <p-chart type="doughnut" [data]="dataArtemisStatus" />
                  </div>

                  <div class="card relative" *ngIf="embarcacion.contenido == 'dataCrestTarasco'">
                    <span
                      class="flex justify-content-center text-justify text-orange-700 text-base font-semibold line-height-1 mb-2">
                      Avance de Actividades
                      {{ embarcacion.nombre }}</span>
                    <p-chart type="doughnut" [data]="dataCrestTarascoStatus" [options]="options" />
                    <div class="realizadas">34.73%</div>
                    <div class="programadas">65.27%</div>

                  </div>

                  <div class="card relative" *ngIf="embarcacion.contenido == 'dataDosBocas'">
                    <span
                      class="flex justify-content-center text-justify text-orange-700 text-base font-semibold line-height-1 mb-2">
                      Avance de Actividades
                      {{ embarcacion.nombre }}</span>

                    <p-chart type="doughnut" [data]="dataDosBocasStatus" [options]="options" />
                  </div>
                  <div class="card" *ngIf="embarcacion.contenido == 'dataToisaProteus'">
                    <span
                      class="flex justify-content-center text-justify text-orange-700 text-base font-semibold line-height-1 mb-2">
                      Avance de Actividades
                      {{ embarcacion.nombre }}</span>
                    <p-chart type="doughnut" [data]="dataToisaProteusStatus" [options]="options" />
                  </div>
                  <div class="card" *ngIf="embarcacion.contenido == 'dataBlueStingray'">
                    <span
                      class="flex justify-content-center text-justify text-orange-700 text-base font-semibold line-height-1 mb-2">
                      Avance de Actividades
                      {{ embarcacion.nombre }}</span>
                    <p-chart type="doughnut" [data]="dataBlueStingrayStatus" [options]="options" />
                  </div>
                  <div class="card" *ngIf="embarcacion.contenido == 'dataBluePiooner'">
                    <span
                      class="flex justify-content-center text-justify text-orange-700 text-base font-semibold line-height-1 mb-2">
                      Avance de Actividades
                      {{ embarcacion.nombre }}</span>
                    <p-chart type="doughnut" [data]="dataBluePioonerStatus" [options]="options" />
                  </div>



                </div>
              </div>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
    </div>
  </div>
</div>