.grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
  margin-top: -1rem;
  width: 80vw;
}

.layout-content {
  margin-left: 22.5rem;
  margin-top: 1rem;
  width: 80vw;
  min-height: 89vh;
  position: relative;
}

.logo {
  position: absolute;
  bottom: 0;
  right: 0;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.centros-proceso-menu {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.37);
}

.centros-proceso-menu:hover {
  scale: 1.05;
  box-shadow: -10px 10px rgba(86, 86, 86, 0.184);
  transition: all 0.4s;
  cursor: pointer;
}

.centros-proceso-menu-text {
  bottom: 43%;
  left: 5%;
}

.ReportesDiariosMenu {

}
