<div class="flex">
    <app-sidebar></app-sidebar>
    <div class="layout-content">
        <div class="logo">
            <img class="h-7rem ml-3" src="../../../../assets/Felipe.png">
        </div>
        <div class="grid">
            <div class="col-12 md:col-12 ">
                <div class="col-12">
                    <p-tabView [(activeIndex)]="activeIndex">
                        <p-tabPanel *ngFor="let complejo of complejos" [header]="complejo.complejo">
                            <div class="grid">
                                <div
                                    class="headerEmbarcacion card relative h-6rem border-round-xl flex justify-content-between align-items-center">
                                    <div class="col-3 p-2 flex flex-wrap">
                                        <span class="flex justify-content-center align-items-center text-orange-700 text-xl
                                            font-semibold line-height-1 mb-2">
                                            Resumen de Hallazgos {{complejo.total}} en total</span>
                                        <span
                                            class=" text-gray-500 text-base font-semibold line-height-1">{{complejo.complejo}}
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    </div>
                                    <div class="col-9 p-2 flex flex-wrap justify-content-end align-items-center gap-2">
                                        <div class="flex mb-2 gap-2 justify-content-end">
                                            <p-button (click)="activeIndex = 0" rounded="true"
                                                styleClass="w-8rem h-2rem p-0 pr-2" [outlined]="activeIndex !== 0"
                                                label="ABKATUN-A" />
                                            <p-button (click)="activeIndex = 1" rounded="true"
                                                styleClass="w-8rem h-2rem p-0" [outlined]="activeIndex !== 1"
                                                label="ABKATUN-D" />
                                            <p-button (click)="activeIndex = 2" rounded="true"
                                                styleClass="w-8rem h-2rem p-0" [outlined]="activeIndex !== 2"
                                                label="ABKATUN-N1" />
                                            <p-button (click)="activeIndex = 3" rounded="true"
                                                styleClass="w-5rem h-2rem p-0" [outlined]="activeIndex !== 3"
                                                label="LITORAL" />
                                            <p-button (click)="activeIndex = 4" rounded="true"
                                                styleClass="w-5rem h-2rem p-0" [outlined]="activeIndex !== 4"
                                                label="POL-A" />
                                        </div>
                                    </div>

                                </div>

                                <div class="flex justify-content-between col-12 p-0 pr-2 gap-2"
                                    *ngIf="complejo.contenido == 'dataAbkatunA'">
                                    <div class="col-4 card">
                                        <p-chart type="bar" [data]="hallazgosAbkatunA" [options]="options"
                                            height="60vh" />
                                    </div>
                                    <div class="col-4 card">
                                        <p-chart type="bar" [data]="tiposHallazgosAbkatunA" [options]="options"
                                            height="60vh" />
                                    </div>
                                    <div class="col-4 card">
                                        <p-chart type="bar" [data]="accionCorrectivaAbkatunA" [options]="options"
                                            height="60vh" />
                                    </div>
                                </div>
                                <div class="flex justify-content-between col-12 p-0 pr-2 gap-2"
                                    *ngIf="complejo.contenido == 'dataAbkatunD'">
                                    <div class="col-4 card">
                                        <p-chart type="bar" [data]="hallazgosAbkatunD" [options]="options" height="
                                            60vh" />
                                    </div>
                                    <div class="col-4 card">
                                        <p-chart type="bar" [data]="tiposHallazgosAbkatunD" [options]="options" height="
                                            60vh" />
                                    </div>
                                    <div class="col-4 card">
                                        <p-chart type="bar" [data]="accionCorrectivaAbkatunD" [options]="options"
                                            height=" 60vh" />
                                    </div>
                                </div>
                                <div class="flex justify-content-between col-12 p-0 pr-2 gap-2"
                                    *ngIf="complejo.contenido == 'dataAbkatunN1'">
                                    <div class="col-4 card">
                                        <p-chart type="bar" [data]="hallazgosAbkatunN1" [options]="options" height="
                                            60vh" />
                                    </div>
                                    <div class="col-4 card">
                                        <p-chart type="bar" [data]="tiposHallazgosAbkatunN1" [options]="options" height="
                                            60vh" />
                                    </div>
                                    <div class="col-4 card">
                                        <p-chart type="bar" [data]="accionCorrectivaAbkatunN1" [options]="options"
                                            height=" 60vh" />
                                    </div>
                                </div>
                                <div class="flex justify-content-between col-12 p-0 pr-2 gap-2"
                                    *ngIf="complejo.contenido == 'dataLitoral'">
                                    <div class="col-4 card">
                                        <p-chart type="bar" [data]="Litoral" [options]="options" height=" 60vh" />
                                    </div>
                                    <div class="col-4 card">
                                        <p-chart type="bar" [data]="tiposHallazgosLitoral" [options]="options" height="
                                            60vh" />
                                    </div>
                                    <div class="col-4 card">
                                        <p-chart type="bar" [data]="accionCorrectivaLitoral" [options]="options" height="
                                            60vh" />
                                    </div>
                                </div>
                                <div class="flex justify-content-between col-12 p-0 pr-2 gap-2"
                                    *ngIf="complejo.contenido == 'dataPolA'">
                                    <div class="col-4 card">
                                        <p-chart type="bar" [data]="PolA" [options]="options" height=" 60vh" />
                                    </div>
                                    <div class="col-4 card">
                                        <p-chart type="bar" [data]="tiposHallazgosPolA" [options]="options" height="
                                            60vh" />
                                    </div>
                                    <div class="col-4 card">
                                        <p-chart type="bar" [data]="accionCorrectivaPolA" [options]="options" height="
                                            60vh" />
                                    </div>
                                </div>

                                <!-- <div class="col-12 md:col-4 p-0 pr-2">
                                    <div class="card relative h-6rem border-round-xl p-3 hallazgosLeft cursor-pointer">
                                        <span class="text-sm font-medium line-height-1">
                                            HALLAZGOS TIPO 5 </span>
                                        <div class="flex justify-content-between">
                                            <div class="flex justify-content-between align-items-center">
                                                <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                    style="background-color: #f74141; box-shadow: 0px 6px 20px rgba(205, 46, 46, 0.3);">
                                                    <i class="pi pi-arrow-up w-2rem text-white"></i><span
                                                        class="line-height-2 text-white">2</span>
                                                </div>
                                                <div class="line-height-4 text-4xl"> <span
                                                        class="text-2xl">{{complejo.hallazgosTipo5}}
                                                        Total</span>
                                                </div>
                                            </div>
                                        </div><img src="../../../assets/rate.svg" class="absolute"
                                            style="bottom: 14px; right: 12px;">
                                    </div>
                                </div>

                                <div class="col-12 md:col-4 p-0 pr-2">
                                    <div
                                        class="card relative h-6rem border-round-xl p-3 hallazgosLinkMid cursor-pointer">
                                        <span class="text-sm font-medium line-height-1">
                                            HALLAZGOS TIPO 4 </span>
                                        <div class="flex justify-content-between">
                                            <div class="flex justify-content-between align-items-center">
                                                <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                    style="margin-right: 12px; background-color: #0bd18a; box-shadow: 0px 6px 20px rgba(89, 255, 194, 0.3);">
                                                    <i class="pi pi-arrow-up w-2rem text-white"></i><span
                                                        class="line-height-2 text-white">0</span>
                                                </div>
                                                <div class="line-height-4 text-4xl "> <span
                                                        class="text-2xl">{{complejo.hallazgosTipo4}}
                                                        Total</span>
                                                </div>
                                            </div>
                                        </div><img src="../../../assets/value.svg" class="absolute"
                                            style="bottom: 14px; right: 12px;">
                                    </div>
                                </div>

                                <div class="col-12 md:col-4 p-0">

                                    <div
                                        class="card relative h-6rem border-round-xl p-3 hallazgosLinkEnd cursor-pointer">
                                        <span class="text-sm font-medium line-height-1">
                                            HALLAZGOS TIPO 3 </span>
                                        <div class="flex justify-content-between">
                                            <div class="flex justify-content-between align-items-center">
                                                <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                    style="background-color: #ffdc41; box-shadow: 0px 6px 20px rgba(255, 255, 75, 0.3);">
                                                    <i class="pi pi-plus w-2rem text-white"></i><span
                                                        class="line-height-2 text-white">38</span>
                                                </div>
                                                <div class="line-height-4 text-4xl"> <span
                                                        class="text-2xl">{{complejo.hallazgosTipo3}}
                                                        Total</span>
                                                </div>
                                            </div>
                                        </div><img src="../../../assets/quantity.svg" class="absolute"
                                            style="bottom: 14px; right: 12px;">
                                    </div>
                                </div>

                                <div class="col-12 md:col-4 p-0 pr-2">
                                    <div class="card relative h-6rem border-round-xl p-3 hallazgosLeft cursor-pointer">
                                        <span class="text-sm font-medium line-height-1">
                                            HALLAZGOS TIPO 2 </span>
                                        <div class="flex justify-content-between">
                                            <div class="flex justify-content-between align-items-center">
                                                <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                    style="background-color: #41e2f7; box-shadow: 0px 6px 20px rgba(201, 249, 255, 0.3);">
                                                    <i class="pi pi-arrow-up w-2rem text-white"></i><span
                                                        class="line-height-2 text-white">2</span>
                                                </div>
                                                <div class="line-height-4 text-4xl"> <span
                                                        class="text-2xl ">{{complejo.hallazgosTipo2}}
                                                        Total</span>
                                                </div>
                                            </div>
                                        </div><img src="../../../assets/rate.svg" class="absolute"
                                            style="bottom: 14px; right: 12px;">
                                    </div>
                                </div>

                                <div class="col-12 md:col-4 p-0 pr-2">
                                    <div
                                        class="card relative h-6rem border-round-xl p-3 hallazgosLinkMid cursor-pointer">
                                        <span class="text-sm font-medium line-height-1">
                                            HALLAZGOS TIPO 1 </span>
                                        <div class="flex justify-content-between">
                                            <div class="flex justify-content-between align-items-center">
                                                <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                    style="margin-right: 12px; background-color: #ff0000; box-shadow: 0px 6px 20px rgba(255, 47, 47, 0.3);">
                                                    <i class="pi pi-arrow-up w-2rem text-white"></i><span
                                                        class="line-height-2 text-white">13</span>
                                                </div>
                                                <div class="line-height-4 text-4xl"> <span
                                                        class="text-2xl">{{complejo.hallazgosTipo1}}
                                                        Total</span>
                                                </div>
                                            </div>
                                        </div><img src="../../../assets/value.svg" class="absolute"
                                            style="bottom: 14px; right: 12px;">
                                    </div>
                                </div>

                                <div class="col-12 md:col-4 p-0 pr-2">
                                    <div class="card relative h-6rem border-round-xl p-3 hallazgosLeft cursor-pointer">
                                        <span class="text-sm font-medium line-height-1">
                                            HALLAZGOS TIPO CM </span>
                                        <div class="flex justify-content-between">
                                            <div class="flex justify-content-between align-items-center">
                                                <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                    style="background-color: #fe6565; box-shadow: 0px 6px 20px rgba(255, 128, 128, 0.3);">
                                                    <i class="pi pi-arrow-up w-2rem text-white"></i><span
                                                        class="line-height-2 text-white">1</span>
                                                </div>
                                                <div class="line-height-4 text-4xl"> <span
                                                        class="text-2xl">{{complejo.hallazgosTipoCM}}
                                                        Total</span>
                                                </div>
                                            </div>
                                        </div><img src="../../../assets/rate.svg" class="absolute"
                                            style="bottom: 14px; right: 12px;">
                                    </div>
                                </div>

                                <div class="col-12 md:col-4 p-0 pr-2">
                                    <div
                                        class="card relative h-6rem border-round-xl p-3 hallazgosLinkMid cursor-pointer">
                                        <span class="text-sm font-medium line-height-1">
                                            HALLAZGOS TIPO CORR </span>
                                        <div class="flex justify-content-between">
                                            <div class="flex justify-content-between align-items-center">
                                                <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                    style="margin-right: 12px; background-color: #4d4d4d; box-shadow: 0px 6px 20px rgba(117, 117, 117, 0.3);">
                                                    <i class="pi pi-arrow-up w-2rem text-white"></i><span
                                                        class="line-height-2 text-white">11</span>
                                                </div>
                                                <div class="line-height-4 text-4xl "> <span
                                                        class="text-2xl">{{complejo.hallazgosTipoCORR}}
                                                        Total</span>
                                                </div>
                                            </div>
                                        </div><img src="../../../assets/value.svg" class="absolute"
                                            style="bottom: 14px; right: 12px;">
                                    </div>
                                </div>

                                <div class="col-12 md:col-4 p-0">

                                    <div
                                        class="card relative h-6rem border-round-xl p-3 hallazgosLinkEnd cursor-pointer">
                                        <span class="text-sm font-medium line-height-1">
                                            HALLAZGOS TIPO DM </span>
                                        <div class="flex justify-content-between">
                                            <div class="flex justify-content-between align-items-center">
                                                <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                    style="background-color: #ffdc41; box-shadow: 0px 6px 20px rgba(255, 255, 75, 0.3);">
                                                    <i class="pi pi-plus w-2rem text-white"></i><span
                                                        class="line-height-2 text-white">13</span>
                                                </div>
                                                <div class="line-height-4 text-4xl"> <span
                                                        class="text-2xl">{{complejo.hallazgosTipoDM}}
                                                        Total</span>
                                                </div>
                                            </div>
                                        </div><img src="../../../assets/quantity.svg" class="absolute"
                                            style="bottom: 14px; right: 12px;">
                                    </div>
                                </div>

                                <div class="col-12 md:col-4 p-0 pr-2">
                                    <div class="card relative h-6rem border-round-xl p-3 hallazgosLeft cursor-pointer">
                                        <span class="text-sm font-medium line-height-1">
                                            HALLAZGOS TIPO HC </span>
                                        <div class="flex justify-content-between">
                                            <div class="flex justify-content-between align-items-center">
                                                <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                    style="background-color: #41e2f7; box-shadow: 0px 6px 20px rgba(201, 249, 255, 0.3);">
                                                    <i class="pi pi-arrow-up w-2rem text-white"></i><span
                                                        class="line-height-2 text-white">230</span>
                                                </div>
                                                <div class="line-height-4 text-4xl"> <span
                                                        class="text-2xl ">{{complejo.hallazgosTipoHC}}
                                                        Total</span>
                                                </div>
                                            </div>
                                        </div><img src="../../../assets/rate.svg" class="absolute"
                                            style="bottom: 14px; right: 12px;">
                                    </div>
                                </div>

                                <div class="col-12 md:col-4 p-0 pr-2">
                                    <div
                                        class="card relative h-6rem border-round-xl p-3 hallazgosLinkMid cursor-pointer">
                                        <span class="text-sm font-medium line-height-1">
                                            HALLAZGOS TIPO INC H/V </span>
                                        <div class="flex justify-content-between">
                                            <div class="flex justify-content-between align-items-center">
                                                <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                    style="margin-right: 12px; background-color: #0bd18a; box-shadow: 0px 6px 20px rgba(11, 209, 138, 0.3);">
                                                    <i class="pi pi-arrow-up w-2rem text-white"></i><span
                                                        class="line-height-2 text-white">12</span>
                                                </div>
                                                <div class="line-height-4 text-4xl"> <span
                                                        class="text-2xl">{{complejo.hallazgosTipoINC}}
                                                        Total</span>
                                                </div>
                                            </div>
                                        </div><img src="../../../assets/value.svg" class="absolute"
                                            style="bottom: 14px; right: 12px;">
                                    </div>
                                </div>
                                <div class="col-12 md:col-4 p-0 pr-2">
                                    <div class="card relative h-6rem border-round-xl p-3 hallazgosLeft cursor-pointer">
                                        <span class="text-sm font-medium line-height-1">
                                            HALLAZGOS TIPO PC </span>
                                        <div class="flex justify-content-between">
                                            <div class="flex justify-content-between align-items-center">
                                                <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                    style="background-color: #f74141; box-shadow: 0px 6px 20px rgba(205, 46, 46, 0.3);">
                                                    <i class="pi pi-arrow-up w-2rem text-white"></i><span
                                                        class="line-height-2 text-white">3</span>
                                                </div>
                                                <div class="line-height-4 text-4xl"> <span
                                                        class="text-2xl">{{complejo.hallazgosTipoPC}}
                                                        Total</span>
                                                </div>
                                            </div>
                                        </div><img src="../../../assets/rate.svg" class="absolute"
                                            style="bottom: 14px; right: 12px;">
                                    </div>
                                </div>

                                <div class="col-12 md:col-4 p-0 pr-2">
                                    <div
                                        class="card relative h-6rem border-round-xl p-3 hallazgosLinkMid cursor-pointer">
                                        <span class="text-sm font-medium line-height-1">
                                            HALLAZGOS TIPO PRO IMP </span>
                                        <div class="flex justify-content-between">
                                            <div class="flex justify-content-between align-items-center">
                                                <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                    style="margin-right: 12px; background-color: #0bd18a; box-shadow: 0px 6px 20px rgba(89, 255, 194, 0.3);">
                                                    <i class="pi pi-arrow-up w-2rem text-white"></i><span
                                                        class="line-height-2 text-white">5</span>
                                                </div>
                                                <div class="line-height-4 text-4xl "> <span
                                                        class="text-2xl">{{complejo.hallazgosTipoIMP}}
                                                        Total</span>
                                                </div>
                                            </div>
                                        </div><img src="../../../assets/value.svg" class="absolute"
                                            style="bottom: 14px; right: 12px;">
                                    </div>
                                </div>

                                <div class="col-12 md:col-4 p-0">

                                    <div
                                        class="card relative h-6rem border-round-xl p-3 hallazgosLinkEnd cursor-pointer">
                                        <span class="text-sm font-medium line-height-1">
                                            HALLAZGOS TIPO RSR </span>
                                        <div class="flex justify-content-between">
                                            <div class="flex justify-content-between align-items-center">
                                                <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                    style="background-color: #ffdc41; box-shadow: 0px 6px 20px rgba(255, 255, 75, 0.3);">
                                                    <i class="pi pi-plus w-2rem text-white"></i><span
                                                        class="line-height-2 text-white">7</span>
                                                </div>
                                                <div class="line-height-4 text-4xl"> <span
                                                        class="text-2xl">{{complejo.hallazgosTipoRSR}}
                                                        Total</span>
                                                </div>
                                            </div>
                                        </div><img src="../../../assets/quantity.svg" class="absolute"
                                            style="bottom: 14px; right: 12px;">
                                    </div>
                                </div>

                                <div class="col-12 md:col-4 p-0 pr-2">
                                    <div class="card relative h-6rem border-round-xl p-3 hallazgosLeft cursor-pointer">
                                        <span class="text-sm font-medium line-height-1">
                                            HALLAZGOS TIPO S </span>
                                        <div class="flex justify-content-between">
                                            <div class="flex justify-content-between align-items-center">
                                                <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                    style="background-color: #41e2f7; box-shadow: 0px 6px 20px rgba(201, 249, 255, 0.3);">
                                                    <i class="pi pi-arrow-up w-2rem text-white"></i><span
                                                        class="line-height-2 text-white">9</span>
                                                </div>
                                                <div class="line-height-4 text-4xl"> <span
                                                        class="text-2xl ">{{complejo.hallazgosTipoS}}
                                                        Total</span>
                                                </div>
                                            </div>
                                        </div><img src="../../../assets/rate.svg" class="absolute"
                                            style="bottom: 14px; right: 12px;">
                                    </div>
                                </div> -->

                                <!-- <div class="col-12 md:col-4 p-0 pr-2">
                                    <div
                                        class="card relative h-6rem border-round-xl p-3 hallazgosLinkMid cursor-pointer">
                                        <span class="text-sm font-medium line-height-1">
                                            ACTIVIDADES DE MANTENIMIENTO </span>
                                        <div class="flex justify-content-between">
                                            <div class="flex justify-content-between align-items-center">
                                                <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                    style="margin-right: 12px; background-color: #0bd18a; box-shadow: 0px 6px 20px rgba(11, 209, 138, 0.3);">
                                                    <i class="pi pi-arrow-up w-2rem text-white"></i><span
                                                        class="line-height-2 text-white">583</span>
                                                </div>
                                                <div class="line-height-4 text-4xl"> <span
                                                        class="text-2xl">{{complejo.actividadesMantenimiento}}
                                                        Total</span>
                                                </div>
                                            </div>
                                        </div><img src="../../../assets/value.svg" class="absolute"
                                            style="bottom: 14px; right: 12px;">
                                    </div>
                                </div>
                                <div class="col-12 md:col-4 p-0 pr-2">
                                    <div class="card relative h-6rem border-round-xl p-3 hallazgosLeft cursor-pointer">
                                        <span class="text-sm font-medium line-height-1">
                                            ANÁLISIS / INGENIERÍAS </span>
                                        <div class="flex justify-content-between">
                                            <div class="flex justify-content-between align-items-center">
                                                <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                    style="background-color: #f74141; box-shadow: 0px 6px 20px rgba(205, 46, 46, 0.3);">
                                                    <i class="pi pi-arrow-up w-2rem text-white"></i><span
                                                        class="line-height-2 text-white">36</span>
                                                </div>
                                                <div class="line-height-4 text-4xl"> <span
                                                        class="text-2xl">{{complejo.analisis}}
                                                        Total</span>
                                                </div>
                                            </div>
                                        </div><img src="../../../assets/rate.svg" class="absolute"
                                            style="bottom: 14px; right: 12px;">
                                    </div>
                                </div>

                                <div class="col-12 md:col-4 p-0 pr-2">
                                    <div
                                        class="card relative h-6rem border-round-xl p-3 hallazgosLinkMid cursor-pointer">
                                        <span class="text-sm font-medium line-height-1">
                                            ANÁLISIS / INGENIERÍAS / INSPECCIÓN / SEGUIMIENTO </span>
                                        <div class="flex justify-content-between">
                                            <div class="flex justify-content-between align-items-center">
                                                <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                    style="margin-right: 12px; background-color: #0bd18a; box-shadow: 0px 6px 20px rgba(89, 255, 194, 0.3);">
                                                    <i class="pi pi-arrow-up w-2rem text-white"></i><span
                                                        class="line-height-2 text-white">7</span>
                                                </div>
                                                <div class="line-height-4 text-4xl "> <span
                                                        class="text-2xl">{{complejo.analisisSeguimiento}}
                                                        Total</span>
                                                </div>
                                            </div>
                                        </div><img src="../../../assets/value.svg" class="absolute"
                                            style="bottom: 14px; right: 12px;">
                                    </div>
                                </div>

                                <div class="col-12 md:col-4 p-0">

                                    <div
                                        class="card relative h-6rem border-round-xl p-3 hallazgosLinkEnd cursor-pointer">
                                        <span class="text-sm font-medium line-height-1">
                                            INSPECCIÓN / SEGUIMIENTO DE HALLAZGOS </span>
                                        <div class="flex justify-content-between">
                                            <div class="flex justify-content-between align-items-center">
                                                <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                    style="background-color: #ffdc41; box-shadow: 0px 6px 20px rgba(255, 255, 75, 0.3);">
                                                    <i class="pi pi-plus w-2rem text-white"></i><span
                                                        class="line-height-2 text-white">13</span>
                                                </div>
                                                <div class="line-height-4 text-4xl"> <span
                                                        class="text-2xl">{{complejo.inspeccionSeguimientoHallazgos}}
                                                        Total</span>
                                                </div>
                                            </div>
                                        </div><img src="../../../assets/quantity.svg" class="absolute"
                                            style="bottom: 14px; right: 12px;">
                                    </div>
                                </div> -->

                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>