<div class="layout-content">
    <div class="logo">
        <img class="h-7rem ml-3" src="../../../../assets/Felipe.png">
    </div>
    <div class="grid">
        <div class="col-12 md:col-12 ">
            <div class="col-12">
                <p-tabView [(activeIndex)]="activeIndex">
                    <p-tabPanel *ngFor="let embarcacion of embarcaciones" [header]="embarcacion.nombre">
                        <div class="grid">
                            <div
                                class="headerEmbarcacion card relative h-6rem border-round-xl flex justify-content-between align-items-center">
                                <div class="col-3 p-2 flex flex-wrap ">
                                    <span
                                        class="flex justify-content-between align-items-center text-orange-700 text-xl font-semibold line-height-1 mb-2">Terminal
                                        Marítima
                                        {{embarcacion.nombre}}</span>
                                    <span
                                        class=" text-gray-500 text-base font-semibold line-height-1">{{embarcacion.gerencia}}
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </div>
                                <div class="col-9 p-2 flex flex-wrap justify-content-end align-items-center gap-2">
                                    <div class="flex mb-2 gap-2 justify-content-end">
                                        <p-button (click)="activeIndex = 0" rounded="true"
                                            styleClass="w-5rem h-2rem p-0 pr-2" [outlined]="activeIndex !== 0"
                                            label="Artemis" />
                                        <p-button (click)="activeIndex = 1" rounded="true"
                                            styleClass="w-8rem h-2rem p-0" [outlined]="activeIndex !== 1"
                                            label="Crest Tarasco" />
                                        <p-button (click)="activeIndex = 2" rounded="true"
                                            styleClass="w-8rem h-2rem p-0" [outlined]="activeIndex !== 2"
                                            label="Dos Bocas" />
                                        <p-button (click)="activeIndex = 3" rounded="true"
                                            styleClass="w-8rem h-2rem p-0" [outlined]="activeIndex !== 3"
                                            label="Toisa Proteus" />
                                        <p-button (click)="activeIndex = 4" rounded="true"
                                            styleClass="w-8rem h-2rem p-0" [outlined]="activeIndex !== 4"
                                            label="Blue Stingray" />
                                        <p-button (click)="activeIndex = 5" rounded="true"
                                            styleClass="w-8rem h-2rem p-0" [outlined]="activeIndex !== 5"
                                            label="Blue Pioneer" />
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 md:col-4 p-0 pr-2">
                                <div class="card relative h-6rem border-round-xl p-3 hallazgosLeft cursor-pointer">
                                    <span class="text-sm font-medium line-height-1">
                                        ACTIVIDADES PROGRAMADAS </span>
                                    <div class="flex justify-content-between">
                                        <div class="flex justify-content-between align-items-center">
                                            <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                style="background-color: #41e2f7; box-shadow: 0px 6px 20px rgba(201, 249, 255, 0.3);">
                                                <i class="pi pi-arrow-up w-2rem"></i><span
                                                    class="line-height-2">3</span>
                                            </div>
                                            <div class="line-height-4 text-4xl">{{embarcacion.programadas}} <span
                                                    class="text-sm">Añadidas</span></div>
                                        </div>
                                    </div><img src="../../../assets/rate.svg" class="absolute"
                                        style="bottom: 14px; right: 12px;">
                                </div>
                            </div>

                            <div class="col-12 md:col-4 p-0 pr-2">
                                <div class="card relative h-6rem border-round-xl p-3 hallazgosLinkMid cursor-pointer">
                                    <span class="text-sm font-medium line-height-1">
                                        Realizadas </span>
                                    <div class="flex justify-content-between">
                                        <div class="flex justify-content-between align-items-center">
                                            <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                style="margin-right: 12px; background-color: #0bd18a; box-shadow: 0px 6px 20px rgba(11, 209, 138, 0.3);">
                                                <i class="pi pi-arrow-up w-2rem"></i><span
                                                    class="line-height-2">5</span>
                                            </div>
                                            <div class="line-height-4 text-4xl">{{embarcacion.realizado}} <span
                                                    class="text-sm">Realizadas</span></div>
                                        </div>
                                    </div><img src="../../../assets/value.svg" class="absolute"
                                        style="bottom: 14px; right: 12px;">
                                </div>
                            </div>

                            <div class="col-12 md:col-4 p-0">
                                <div class="card relative h-6rem border-round-xl p-3 hallazgosLinkEnd cursor-pointer">
                                    <span class="text-sm font-medium line-height-1">
                                        REZAGOS </span>
                                    <div class="flex justify-content-between">
                                        <div class="flex justify-content-between align-items-center">
                                            <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                style="background-color: #cecfcf; box-shadow: 0px 6px 20px rgba(182, 182, 182, 0.3);">
                                                <i class="pi pi-plus w-2rem"></i><span class="line-height-2">4</span>
                                            </div>
                                            <div class="line-height-4 text-4xl">{{embarcacion.rezago}} <span
                                                    class="text-sm">en el mes de
                                                    Mayo</span>
                                            </div>
                                        </div>
                                    </div><img src="../../../assets/quantity.svg" class="absolute"
                                        style="bottom: 14px; right: 12px;">
                                </div>
                            </div>

                            <div class="col-12 md:col-9 m-0">
                                <div class="card" *ngIf="embarcacion.contenido == 'dataArtemis'">
                                    <p-chart type="line" [data]="dataArtemis" [options]="options" />
                                    <p-timeline [value]="eventsArtemis" layout="horizontal" align="top">
                                        <ng-template pTemplate="content" let-event>
                                            <div
                                                [ngClass]="{'operando' : event === 'OP', 'frenteFrio' : event === 'FF', 'fueraOperacion' : event === 'FO'}">
                                                <p class="diasOperando">{{event}}</p>
                                            </div>


                                        </ng-template>
                                    </p-timeline>
                                </div>
                                <div class="card" *ngIf="embarcacion.contenido == 'dataCrestTarasco'">
                                    <p-chart type="line" [data]="dataCrestTarasco" [options]="options" />
                                    <p-timeline [value]="eventsCrestTarasco" layout="horizontal" align="top">
                                        <ng-template pTemplate="content" let-event>
                                            <div
                                                [ngClass]="{'operando' : event === 'OP', 'frenteFrio' : event === 'FF', 'fueraOperacion' : event === 'FO'}">
                                                <p class="diasOperando">{{event}}</p>
                                            </div>


                                        </ng-template>
                                    </p-timeline>
                                </div>
                                <div class="card" *ngIf="embarcacion.contenido == 'dataDosBocas'">
                                    <p-chart type="line" [data]="dataDosBocas" [options]="options" />
                                </div>
                                <div class="card" *ngIf="embarcacion.contenido == 'dataToisaProteus'">
                                    <p-chart type="line" [data]="dataToisaProteus" [options]="options" />
                                </div>
                                <div class="card" *ngIf="embarcacion.contenido == 'dataBlueStingray'">
                                    <p-chart type="line" [data]="dataBlueStingray" [options]="options" />
                                </div>
                                <div class="card" *ngIf="embarcacion.contenido == 'dataBluePiooner'">
                                    <p-chart type="line" [data]="dataBluePiooner" [options]="options" />
                                </div>
                            </div>
                            <div class="col-3 m-0">
                                <div class="card" *ngIf="embarcacion.contenido == 'dataArtemis'">
                                    <span
                                        class="flex justify-content-center  text-justify text-orange-700 text-base font-semibold line-height-1 mb-2">
                                        Condiciones Climatológicas
                                        {{embarcacion.nombre}}</span>
                                    <p-chart type="doughnut" [data]="dataArtemisStatus" [options]="options" />
                                </div>
                                <div class="card" *ngIf="embarcacion.contenido == 'dataCrestTarasco'">
                                    <span
                                        class="flex justify-content-center text-justify text-orange-700 text-base font-semibold line-height-1 mb-2">
                                        Condiciones Climatológicas
                                        {{embarcacion.nombre}}</span>
                                    <p-chart type="doughnut" [data]="dataCrestTarascoStatus" [options]="options" />
                                </div>
                                <div class="card" *ngIf="embarcacion.contenido == 'dataDosBocas'">
                                    <span
                                        class="flex justify-content-center text-justify text-orange-700 text-base font-semibold line-height-1 mb-2">
                                        Condiciones Climatológicas
                                        {{embarcacion.nombre}}</span>
                                    <p-chart type="doughnut" [data]="dataDosBocasStatus" [options]="options" />
                                </div>
                                <div class="card" *ngIf="embarcacion.contenido == 'dataToisaProteus'">
                                    <span
                                        class="flex justify-content-center text-justify text-orange-700 text-base font-semibold line-height-1 mb-2">
                                        Condiciones Climatológicas
                                        {{embarcacion.nombre}}</span>
                                    <p-chart type="doughnut" [data]="dataToisaProteusStatus" [options]="options" />
                                </div>
                                <div class="card" *ngIf="embarcacion.contenido == 'dataBlueStingray'">
                                    <span
                                        class="flex justify-content-center text-justify text-orange-700 text-base font-semibold line-height-1 mb-2">
                                        Condiciones Climatológicas
                                        {{embarcacion.nombre}}</span>
                                    <p-chart type="doughnut" [data]="dataBlueStingrayStatus" [options]="options" />
                                </div>
                                <div class="card" *ngIf="embarcacion.contenido == 'dataBluePiooner'">
                                    <span
                                        class="flex justify-content-center text-justify text-orange-700 text-base font-semibold line-height-1 mb-2">
                                        Condiciones Climatológicas
                                        {{embarcacion.nombre}}</span>
                                    <p-chart type="doughnut" [data]="dataBluePioonerStatus" [options]="options" />
                                </div>
                                <div class="card relative h-6rem border-round-xl p-3 hallazgosLeft cursor-pointer">
                                    <span class="text-sm font-medium line-height-1">
                                        FUERA DE PROGRAMA </span>
                                    <div class="flex justify-content-between">
                                        <div class="flex justify-content-between align-items-center">
                                            <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3"
                                                style="background-color: #41e2f7; box-shadow: 0px 6px 20px rgba(201, 249, 255, 0.3);">
                                                <i class="pi pi-arrow-up w-2rem"></i><span
                                                    class="line-height-2">3</span>
                                            </div>
                                            <div class="line-height-4 text-4xl">{{embarcacion.fueraDePrograma}}
                                                <span class="text-sm">Añadidas</span>
                                            </div>
                                        </div>
                                    </div><img src="../../../assets/quantity.svg" class="absolute"
                                        style="bottom: 14px; right: 12px;">
                                </div>

                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>

    </div>
</div>