
@import "primeicons/primeicons.css";

.center-content {
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

#login-card .p-card-body, #login-card  .p-card-content {
    padding-top: 0 !important;
}

body {
    margin: 0;
    /* background-color: #eff3f8; */
}

#search-toolbar .p-toolbar.p-component {
    display: block!important;
    padding-bottom: 0;
    padding-top: 0;
}

.of-auto {
    overflow: auto;
}

